@font-face {
    font-family: "norse";
    src: url("fonts/norse-bold-webfont.woff2"),
         url("fonts/norse-bold-webfont.woff");
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

:link {
    color: #596D48;
    text-decoration: none;
}

:visited {
    color:grey;
}

body {
    margin: 0;
    display: flex;
    height: clamp(30rem, 100vh, 60rem);
    background-color: #EEEEEE;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    flex: 1 1 auto;
    min-width: 300px;
    min-height: 100vh;
    position: relative;
    background: url(./assets/background.jpg) left/cover no-repeat;
}

h1 {
    font-family: norse;
    color: white;
}

.credit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: white;
    font-size: 8px;
}

.banner {
    background-color: rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
}

.signup {
    flex: 2 1 auto;
    min-width:fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    flex: auto;
    font-size: 20px;
    font-weight:500;
    width: 70%;
    padding: 0px 24px;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

label {
    display: block;
    font-size: clamp(10px, 0.7rem, 24px);
    color: #BBBBBB;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 1rem;
    width: 150px;
}

input:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border-color: blue;
}

.telmail,
.name,
.pass {
    padding: 8px;
    display: flex;
    gap: 5rem;
}

legend {
    font-weight: 500;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 32px;
    border: none;
    margin: 24px;
}

.login {
    padding: 0 24px;
    font-size: 0.8rem;
}