@font-face {
    font-family: "norse";
    src: url("fonts/norse-bold-webfont.woff2"),
         url("fonts/norse-bold-webfont.woff");
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

:link {
    color: #596D48;
    text-decoration: none;
}

:visited {
    color:grey;
}

body {
    display: flex;
    height: clamp(20rem, 100vh, 50rem);
    background-color: #EEEEEE;
}

.background {
    flex: 1 1 0;
    position: relative;
    background: url(./assets/background.jpg) left/cover no-repeat;
}

h1 {
    font-family: norse;
}

.credit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: white;
    font-size: 8px;
}

.banner {
    background-color: rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
}

.signup {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}